*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   background-color: hsl(60deg 17% 95%);
}

img{
    width: 100%;
    max-width: 100%;
    margin: auto;
}

.our_team{
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
}

.our_team .col .card{
    background-color:  rgba(255, 255, 255, 0.70);
    padding: 30px;
    border-radius: 1rem;
    border: none;
    transition: transform 500ms;
    
}

.our_team .col .card:hover{
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 8px rgb(238, 228, 228);
    transform: scale(1.05);
  
}

.col img{
    border-radius: 1rem;
}

.col p:nth-child(2){
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

